.articles-container {
  column-count: 3;
  column-gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.articles-container .card {
  display: inline-block;
  width: 100%;
}

.card-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.card-img-top:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}